@page "/monthlycalendar"
@rendermode InteractiveServer

@using System.Globalization


<div class="container">
   
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                    <button class="btn btn-primary" @onclick="PreviousMonth">-</button>
                    @MonthYear
                    <button class="btn btn-primary" @onclick="NextMonth">+</button>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                @foreach (var day in DaysOfWeek)
                                {
                                    <th>@day</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 6; i++)
                            {
                                <tr>
                                    @for (int j = 0; j < 7; j++)
                                    {
                                        var day = i * 7 + j + 1 - FirstdayOfMonth;
                                        if (day < 1 || day > DaysInMonth)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>
                                                @day <br />
                                                <br />
                                                <br />
<br />
<br />

                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div>@CurrentDate.ToShortDateString()</div>
@code {
    
    public DateTime CurrentDate { get; set; }
    private string MonthYear { get; set; } = string.Empty;
    private int DaysInMonth { get; set; }
    private int FirstdayOfMonth { get;set; }
 
    private string[] DaysOfWeek = CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames;    

    
    protected override void OnInitialized()
    {
        if (CurrentDate == DateTime.MinValue)
            CurrentDate = DateTime.Today;
        
        CurrentDateHasChanged();

    }
    private void CurrentDateHasChanged()
    {
        MonthYear = CurrentDate.ToString("MMMM yyyy");
        DaysInMonth = DateTime.DaysInMonth(CurrentDate.Year, CurrentDate.Month);
        FirstdayOfMonth = (int)new DateTime(CurrentDate.Year, CurrentDate.Month, 1).DayOfWeek;
        this.StateHasChanged();
    }
    private void PreviousMonth()
    {
        var newDate = CurrentDate.AddMonths(-1);
        CurrentDate = newDate;
        CurrentDateHasChanged();
    }
    private void NextMonth()
    {
        CurrentDate = CurrentDate.AddMonths(1);
        CurrentDateHasChanged();
    }

}